.wrapper {
    margin: 8rem 10rem;

    display: grid;
    gap: 9.8rem;
    grid-template-columns: 1fr 1fr;
}

.what-we-do .body{
    padding: 3rem 0 5rem 0;
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.btn{
    align-self: flex-start;
}

.features{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.features li{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    box-shadow: .2rem .4rem 1.2rem .1rem rgba(25, 34, 69, 37%);
    border-radius: 3rem;
    padding: 1.3rem 4.2rem 1.3rem 2rem;
}

.feat-text h4 {
    margin-bottom: 1.1rem;
}
