.wrapper {
    padding: 4rem 9.8rem;
}

.wrapper h3{
    margin-bottom: 3rem;
}

.ul{
    display: flex;
    justify-content: space-between;
}

.benefit{
    width: 37.4rem;
    /* background-color: red; */
}


.benefit p, .benefit p strong{
    font-size: 2.4rem;
}

.benefit img{
    margin-bottom: 3rem;
    height: 17.2rem;
}

.img1{
    border-radius: 3rem 3rem 0 3rem;
}

.img3{
    border-radius: 3rem 3rem 3rem 0;
}



@media (max-width: 83.69em) {
    .benefit{
        width: 30rem;
        /* background-color: green; */
    }

    .benefit img{
        height: 15rem;
        width: 100%;
        object-fit: contain;
    }
}