.wrapper {
    height: 82svh;
    position: relative;
}

.hero-img{
    height: 100%;
    width: 100%;

    object-fit:cover;
}

.linear-film{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-image: linear-gradient(to right, rgba(247, 244, 244));
}

.content {
    padding: 13.5rem 8rem;

    position: absolute;
    top: 0;
    left: 0;

    z-index: 120;

    display: flex;
    gap: 10.2rem;
}

.text-wrapper h1{
    font-size: 6.4rem;
    max-width: 45.2rem;
}

.blue-heading{
    color: var(--color--violet);
}

.primary-heading{
    margin-bottom: 5.3rem;
}

.text{
    font-weight:300;
    margin-bottom: 8rem;
}

.donate-btn{
    text-decoration: none;
}

.btn{
    border-radius: 1rem;
    padding: 1.3rem 2.4rem 1.3rem 3rem;

    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.btn span{
    font-size: 2.4rem;
    font-weight: normal;
}

.img{
    width: 66.2rem; 
    height: 50.6rem;
}